<nav mat-tab-nav-bar backgroundColor="primary" color="accent">
  <a
    mat-tab-link
    routerLink="/home"
    routerLinkActive
    #homeTab="routerLinkActive"
    [active]="homeTab.isActive"
    fxHide="false"
    fxHide.lt-sm="true"
  >
    Home
  </a>
  <a
    mat-tab-link
    routerLink="/stations/name"
    routerLinkActive
    #nameTab="routerLinkActive"
    [active]="nameTab.isActive"
  >
    Namen
  </a>
  <a
    mat-tab-link
    routerLink="/stations/temperature"
    routerLinkActive
    #linkTab="routerLinkActive"
    [active]="linkTab.isActive"
  >
    Temperatur
  </a>
  <a
    mat-tab-link
    routerLink="/stations/precipitation"
    routerLinkActive
    #precipitationTab="routerLinkActive"
    [active]="precipitationTab.isActive"
  >
    Niederschlag
  </a>
  <a
    mat-tab-link
    routerLink="/stations/airpressure"
    routerLinkActive
    #airpressureTab="routerLinkActive"
    [active]="airpressureTab.isActive"
  >
    Luftdruck
  </a>
</nav>

<div style="margin-left: 1.5rem; margin-bottom: 2.5rem">
  <router-outlet></router-outlet>
</div>
