<p style="max-width: 500px; margin-left: 5%">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra purus
  sit amet arcu consequat, ac tempus enim interdum. Ut at leo non dui elementum
  tincidunt. Fusce vitae tincidunt lorem. Phasellus eget rutrum nisi. Etiam sit
  amet tellus pharetra velit viverra elementum sit amet sit amet leo. Proin
  ullamcorper lectus sit amet dolor ultrices aliquam. Etiam leo nunc, volutpat
  eu sollicitudin ut, viverra sed orci. Integer dapibus libero velit,
  condimentum suscipit risus facilisis a. Integer fringilla neque a sem euismod
  lacinia. Aenean ligula neque, ultricies et purus vel, tempor luctus leo. Proin
  dignissim, mauris efficitur placerat ornare, tellus nisi semper eros, non
  tempus sem ipsum vitae ante. Curabitur faucibus ut mauris eget fringilla.
  Quisque non mauris quis sapien rutrum dignissim venenatis in metus.
  Suspendisse egestas tincidunt vulputate. Ut ornare nisi sed orci iaculis, at
  placerat erat mattis. Nulla facilisi. Mauris augue urna, venenatis eget sapien
  vitae, ultrices tempor nisi. Praesent id aliquet magna, sit amet lobortis
  nisi. Aliquam sed rutrum elit. Integer interdum nisi sit amet ex laoreet
  pharetra. Vestibulum elementum luctus urna, at facilisis velit hendrerit id.
  Nulla aliquam nibh at lorem venenatis, sit amet volutpat elit fringilla. Nulla
  porttitor, odio ac rhoncus imperdiet, nulla neque efficitur tortor, commodo
  dictum odio nunc sed ante. Phasellus id vehicula nisi. Proin a libero nec elit
  aliquet finibus in ac felis. Integer augue lectus, sagittis in sagittis sed,
  pharetra et sem. Nullam fermentum pulvinar nisi. Curabitur vitae ante quis
  elit mattis volutpat porttitor eu elit. Phasellus quis facilisis neque, ut
  rutrum magna.
</p>
<div>
  <p>Hier finden Sie alle Messwerte der Wetterstationen.</p>
  <a mat-raised-button color="accent" routerLink="/stations/name">
    Zu den Wetterstationen
    <mat-icon>arrow_forward</mat-icon>
  </a>
</div>
